

.IconLinks_Icon{
    font-size: 1.5em;
    color: var(--icon-color);
    margin-right: 0.4rem;
}

.IconLinks{
    --icon-color: var(--slight-gray);
    display: flex;
    align-items: center;
    transition: color 200ms ease;

    color: var(--light-gray);
    font-family: "Poppins";
    font-weight: 700;
    text-decoration: none;
    height: 100%;
    margin-bottom: 0.5rem;
}

.IconLinks:hover{
    color: var(--icon-color);
}
