

.IconLinks_Icon{
    font-size: 1.5em;
    color: var(--icon-color);
    margin-right: 0.4rem;
}

.IconLinks{
    --icon-color: var(--slight-gray);
    display: flex;
    align-items: center;
    transition: color 200ms ease;
}

.IconLinks:hover{
    color: var(--icon-color);
}
