
.main{
    background-color: var(--black);
    display: grid;
    grid-template-columns: auto 32rem;
    padding: 1rem 6rem;
    grid-column-gap: 4rem;
}

.main > div:nth-child(1){
    font-size: 2.25rem;
}


.main h1{
    margin: 1.5rem 0;
}

.main h2{
    font-size: 2rem;
    color: var(--off-white);
    margin: 1.5rem 0;
}
.main h4{
    font-size: 1rem;
    font-family: "Poppins";
}
.main h5{
    font-size: 0.9rem;
    font-family: "Poppins";
}

.otherInfo{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.otherInfo > *{
    font-size: 1.75rem !important;
}
.otherInfo > span{
    font-weight: 700;
    color: var(--green);
    font-size: 1.75rem;
    font-family: "Poppins";

    margin: 0;
}

.restaurantDesc{
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--light-gray);
}

.reviewsHeader{
    display: flex;
    align-items: center;
}

.reviewsHeader > .icon{
    color: var(--green);
    margin-top: 0.25rem;
    margin-left: 0.5rem;
    font-size: 1.1em;
}

.reviewsHeader > button{
    margin-left: auto;

    display: flex;
    align-items: center;
    position: relative;
}
.reviewsHeader > button .icon{
    font-size: 1.45em;
    height: 100%;
    margin-left: 0.5rem;
    /*position: absolute;*/
    right: 0;
}

.reviewsList{
    list-style-type: none;
    padding:0;
    margin: 0;
}

.reviewsList li{
    margin-bottom: 1.5rem;
    border: 0.2rem solid var(--green);
    padding: 0.5rem;
    border-radius: 1.2rem;
}


.reviewItemHead {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: min-content auto;
    grid-column-gap: 0.75rem;
}

.reviewItemHead > .icon{
    grid-row: 1/-1;
    grid-column: 1;
    font-size: 3.5rem;
    color: var(--light-gray);
}

.reviewItemHead > h4{
    margin: 0;
    grid-row: 1;
    grid-column: 2;
    margin-top: auto;
}

.reviewItemHead > h5{
    margin: 0;
    grid-row: 2;
    grid-column: 2;
    color: var(--slight-gray);
    margin-bottom: auto;
}

.reviewItemRating {
    font-size: 1.15rem;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
}

.reviewsList li > p{
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 500;
    color: var(--light-gray);
    margin-top: 0;
    margin-left: 0.5rem;
}
.reviewsList li >.like{
    font-size: 1.5rem;
    margin-left: 0.5rem;
    color: var(--gray);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.reviewsList li >.like span{
    font-family: "Poppins";
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--slight-gray);
}

.reviewsList:last-child{
    font-size: 1.2rem;
}

main > div:nth-child(2){

}

.photos {
    display: flex;
    height: fit-content;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 0.5rem;
    box-sizing: border-box;
}

.photos img{
    border-radius: 0.5rem;
    object-fit: cover;

}


.photos img:nth-child(1){
    width: 100%;

    flex-shrink: 0;
}

.photos img:nth-child(2){
    width: calc(50% - 0.25rem);
}
.photos button{
    padding: 0;
    position: relative;
    background: black;
    width: calc(50% - 0.25rem);
}
.photos button:hover img{
    opacity: .3;
    width: 100%;
}

.photos button:hover p{

    transform: translate(-50%, -50%) scale(1.1);
}

.photos button p{
    width: 100%;
    transition: all 500ms ease;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-family: "Poppins";
    color: white;
    overflow: hidden;

}
.photos button img{
    transition: opacity 200ms;
    height: 100%;
    width: 100%;
    opacity: .4;
    filter: brightness(45%) contrast(0.8) grayscale(0.5);
}

