.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 0.5rem;

}

.rating > span{
    font-size: 2rem;
    user-select: none;
}

.reviewsInput{
    background: var(--black);
    min-width: 32rem;
    max-width: 72rem;
    min-height: 16rem;
    max-height: 42rem;
    outline: none;
    border-radius: 1rem;
    border: 0.15rem solid var(--gray);
    padding: 1rem;
    color: var(--off-white);
    font-family: "Poppins";
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
