
.reviewsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.reviewsList li {
    margin-bottom: 1.5rem;
    border: 0.2rem solid var(--green);
    padding: 0.5rem;
    border-radius: 1.2rem;
    position: relative;
    box-sizing: border-box;
}



.editReviewContainer>button:nth-child(1){
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    gap: 0.2rem;
}



.editReviewContainer>button:nth-child(2){
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    padding: 0;
    background: none;
}

.editReviewContainer>button:nth-child(2):hover{
    color: var(--red);
}
.editReviewContainer>button:nth-child(2):active{
    color: var(--gray);
}

.editReviewContainer {
    pointer-events: auto;
    opacity: 0;
    transition: all 200ms ease;
}
.reviewsList li:hover > .editReviewContainer {
    pointer-events: auto;
    opacity: 1;
}



.reviewItemHead {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: min-content auto;
    grid-column-gap: 0.75rem;
    font-size: 1rem;
}

.reviewItemHead > .icon {
    grid-row: 1/-1;
    grid-column: 1;
    font-size: 3.5rem;
    color: var(--light-gray);
}

.reviewItemHead > h4 {
    margin: 0;
    grid-row: 1;
    grid-column: 2;
    margin-top: auto;
}

.reviewItemHead > h5 {
    margin: 0;
    grid-row: 2;
    grid-column: 2;
    color: var(--slight-gray);
    margin-bottom: auto;
}

.reviewItemRating {
    font-size: 1.15rem;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
}

.reviewsList li > p {
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 500;
    color: var(--light-gray);
    margin-top: 0;
    margin-left: 0.5rem;
}

.reviewsList li > .like {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    color: var(--gray);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.reviewsList li > .like span {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--slight-gray);
}

.reviewsList:last-child {
    font-size: 1.2rem;
}
