
.filterpanel {
    width: 14rem;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 0.8em 1em;
    height: fit-content;
    top: calc(var(--header-height) + 2vh);
    position: sticky;
    display: inline-block;
    background: var(--gray);
    grid-column: 1/2;
    grid-row: 2/2;
}

.filterpanel h4 {
    margin-top: 0;
    letter-spacing: 0.05em;
}

.filterpanel h5 {
    display: inline-block;
    margin: 0;
    font-family: "Poppins";
    font-weight: 500;

}

.filterpanel ul {
    padding: 0;
}

.filterpanel li {
    margin-bottom: 0.5em;
}

.filterpanel input[type="range"] {
    width: 100%;

}

.filterpanel div {
    float: right;
}


.filterpanel span {
    font-size: 1.3em;
    font-weight: 700;
}

.filterRangeSliderValue {
    float: right;
    display: flex;
    align-items: flex-end;
    gap: 0.2em;
}

.filterRangeSliderValue > .icon {
    margin: 0;
    font-size: 1.5em;
    justify-content: center;
}


.filterpanel li:nth-child(1) .icon {
    color: var(--red);
}

.filterpanel li:nth-child(2) .icon {
    color: var(--gold);
    margin-top: 0.2em;
    margin-left: 0;
    font-size: 1.3em;
}

.filterpanel li:nth-child(3) .icon {
    color: var(--green);
    margin-left: 0.25em;
}

/*Show value styles*/

.filterpanel li span[data-hasIcon] {
    padding-right: 2rem;
    position: relative;
}

.filterpanel li span > .icon {
    position: absolute;
    right: 0;

    font-size: 1.5rem;

}

.icon {
    margin-top: 0.5em;
    margin-left: 0.1em;
    font-size: 1.2em;
}

