:root{
    --red: #e55555;
    --green: #a9ae69;
    --gold: #b9ac33;
    --black: #222;
    --gray: #444;
    --slight-gray: #707070;
    --light-gray: #999;
    --white: #fff;
    --off-white: #ccc;
}

body{
    /*background: var(--black);*/
}
