:root{
    --red: #e55555;
    --green: #a9ae69;
    --gold: #b9ac33;
    --black: #222;
    --gray: #444;
    --slight-gray: #707070;
    --light-gray: #999;
    --white: #fff;
    --off-white: #ccc;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

}

.color-gray{
    color: var(--gray);
}
.color-offwhite{
    color: var(--off-white);
}

.color-slightg{
    color: var(--slight-gray);
}
.color-lightg{
    color: var(--light-gray);
}

.poppins{
    font-family: "Poppins";
}

.no-margin {
    margin: 0;
}

.alignself-center{
    align-self: center;
}

.text-center{
    align-self: center;
}

/*Centers horizontally using margin*/
.margin-h-center{
    margin-left: auto;
    margin-right: auto;
}


button {
    --fore: var(--light-gray);
    --back: var(--gray);

    padding: 0.5em 1em;
    border: none;
    border-radius: 0.4em;
    outline: none;
    font-family: "Segoe UI";
    font-size: 1.05rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: var(--fore);
    background: var(--back);

    transition: color 200ms ease-out,background-color 200ms ease-out,filter 200ms ease-out;
    cursor: pointer;
}

button:hover{
    --fore: var(--gray);
    --back: var(--green);
}

button.btn-primary{
    --fore: var(--gray);
    --back: var(--green);
}

button.btn-secondary{
    --fore: var(--light-gray);
    --back: var(--gray);
}
button.btn-primary:hover,button.btn-secondary:hover{
    filter: drop-shadow(1px 3.5px 6px black);

}

button:active{
    filter: none !important;

}
