
.HeaderNav {
    display: flex;
    color: var(--white);
    background: var(--black);
    height: var(--header-height);
    position: sticky;
    top: 0;
    padding: 0 1em;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--gray);
    z-index: 1000;
}


.HeaderNav > * {
    flex-shrink: 0;
    height: fit-content;
}

.HeaderNavTitle {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.HeaderNavTitle * {
    margin: 0;
    font-family: "Poppins";
}

.HeaderNavTitle {
    color: var(--green);
}

.HeaderNavTitle sub {
    font-size: 0.6em;
    color: var(--red);
}


.HeaderNavSearch {
    flex-grow: 1;
    display: flex;
    gap: 0.6em;
    align-items: center;
    margin-left: min(1vw, 2rem);
    height: 100%; /*To allow search input's overflow to show*/
}

.SearchIcon {
    color: var(--slight-gray);
    flex-shrink: 0;
    font-size: 2.5em;
    transition: color 200ms ease, transform 600ms ease;
}

:has(.SearchInput>input:focus) .SearchIcon, .HeaderNavSearch:hover .SearchIcon {
    color: var(--light-gray);
    transform: rotate(calc(360deg * 2));
}

.SearchInput {
    flex-grow: 1;
    position: relative;
    overflow: visible;
}

.SearchInput > input {
    background: var(--black);
    border: none;
    color: var(--off-white);
    font-size: 1.4em;
    font-family: "Segoe UI";
    font-weight: 600;
    outline: none;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: visible; /*So that the underline shows up*/
}

.SearchInput > input::placeholder {
    transition: color 200ms ease;
    color: var(--slight-gray);

}

.HeaderNavSearch:hover input::placeholder, .HeaderNavSearch input:focus::placeholder {
    color: var(--light-gray);
}


.SearchInputUnderline {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 0;
    height: max(0.18em, 1px);
    background: var(--light-gray);
    bottom: -8px;
    border-radius: 0.18em;
    left: 0;
    opacity: 0;
    transition: all 200ms ease;
}

.HeaderNavSearch:hover .SearchInputUnderline, .SearchInput:has(>input:focus) > .SearchInputUnderline {
    max-width: 100%;
    opacity: 1;
}

.HeaderNavLinks {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 1.45rem;
    margin-right: min(2vw,4rem);
}

.HeaderNavLinks > li {
    display: inline;
    margin: 0 0.5em;
}

.HeaderNavLinks a {
    color: var(--light-gray);
    font-family: "Poppins";
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    height: 100%;
}

.HeaderNavLinks a > span{
    font-size: 0.85em;
}

.HeaderNavLinks > li:nth-child(2) a > *:nth-child(1) {
    font-size: 1.65em;
}


.HeaderNavLinks > li:nth-child(1) a {
    --icon-color: var(--green);
}

.HeaderNavLinks > li:nth-child(2) a {
    --icon-color: var(--gold);
}


.HeaderNavAccount {
    --acc-menu-border: 0.2rem;
    position: relative;
}


.HeaderNavAccount > a {
    position: relative;
    display: flex;
    font-size: 2.5em;
    color: var(--red);
    cursor: pointer;
    align-items: center;
    justify-content: center;

    background: var(--black);
    margin: var(--acc-menu-border);
    z-index: 1;
    border-radius: 1em;

}


.HeaderNavAccountIcon {
    position: relative;
    z-index: 2;
    padding: 0.08em;

    transition: transform 200ms ease;
}

.HeaderNavAccount:not([toggled]) .HeaderNavAccountIcon:hover {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 12px black);
}


.HeaderNavAccount[data-loggedin="true"] > a {
    display: flex;
    font-size: 2.25em;
    color: var(--green);
}

.HeaderNavAccountIconBorder {
    position: absolute;
    opacity: 0;
    transition: opacity 200ms ease-out;
    border-radius: 2em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: var(--acc-menu-border) solid var(--gray);

}

.HeaderNavAccount[toggled] .HeaderNavAccountIconBorder {
    opacity: 1;
}

/*==========Account Menu Stuff==========*/


.HeaderNavAccountMenu {

    opacity: 0;
    position: absolute;
    width: 12.5rem;

    z-index: 0;
    background: var(--black);
    right: 0;
    top: calc(50% - 4px);
    border: var(--acc-menu-border) solid var(--gray);
    border-radius: 0.9em;
    border-top-right-radius: 0;
    padding: 0.4rem 0.6rem 0.8rem;
    display: none;
}

.HeaderNavAccountMenu_username {
    margin: 0;
    margin-bottom: 1em;
    letter-spacing: 0.4px;
    color: var(--off-white);
    padding-right: 2.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.HeaderNavAccount[toggled] .HeaderNavAccountMenu {
    display: flex;
    opacity: 1;
    flex-direction: column;
    gap: 0.25rem;
    animation: fadein 200ms ease;
}

.HeaderNavAccountMenu > button {
    font-size: 1.05rem;
    width: 100%;
    border-radius: 0.45rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.HeaderHamburger{
    display: none;
}

.HeaderHamburgerContent{
    position: fixed;
    background: var(--black);
    width: 45%;
    right: -50%; /*50% so that it does not cover scrollbar*/
    top:0;
    border: 1px solid var(--gray);
    height: 100vh;
    z-index: 1;
    padding-top: var(--header-height);
    padding-left: 1rem;
    transition: right 400ms ease;
}

@media only screen and (max-width: 900px)  {
    .HeaderHamburger{
        display: initial;

    }

    .HeaderHamburger[data-toggled="true"] > .HeaderHamburgerContent{
        right: 0;

    }

    .HeaderNavLinks{
        display: none;
    }

    .HeaderHamburgerIcon{
        font-size: 2.5rem;
        color: var(--light-gray);
        cursor: pointer;
        transition: all 100ms ease;
        position: relative;
        z-index: 2;
    }

    .HeaderHamburger[data-toggled="true"] .HeaderHamburgerIcon{
        color: var(--off-white);
    }

    .HeaderHamburger[data-toggled="true"] .HeaderNavLinks{
        display: flex;

        flex-direction: column;


    }

    .HeaderHamburgerIcon:active{
        transform: scale(0.9);
    }


}


