/** The css here attempts to standardize stuff */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    font-family: "Segoe UI", "Poppins", sans-serif;
    box-sizing: border-box;
    font-size: max(min(1rem, 1.3vw),0.5rem);
    overflow: hidden;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
}

h1, h2, h3 {
    font-family: "Segoe UI", sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}
